<ul class="nav nav-pills" role="tablist" style="padding:2% 5%;background:#5BC0DE;">
  <li role="presentation" class="active"><button type="button" class="btn btn-info glyphicon glyphicon-chevron-left" ng-click="ade()" ></button></li>
  <li role="presentation" style="float:right;"><button type="button" ng-click="sc()" class="btn btn-info glyphicon glyphicon-trash" ></button></li>
  <li role="presentation" style="float:right;"><button type="button" ng-click="addrd()" class="btn btn-info glyphicon glyphicon-edit" ></button></li>
</ul>
