<ul class="nav nav-tabs btn-info" role="tablist" style="margin-bottom:2%;">
  <li role="presentation"  ui-sref="nav.cont"><a href="#">Home</a></li>
  <li role="presentation" style="float:right;">
  <div class="dropdown">
  <button class="btn dropdown-toggle btn-info glyphicon glyphicon-th-list" type="button" id="dropdownMenu1" data-toggle="dropdown">
  </button>
  <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1" style="position: absolute;left:-350%;">
    <li role="presentation" ui-sref="jia"><a role="menuitem" tabindex="-1" href="#">写日记</a></li>
    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">查找</a></li>
    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Something else here</a></li>
    <li role="presentation" ng-click="tc()"><a role="menuitem" tabindex="-1" href="#">退出</a></li>
  </ul>
</div>
  </li>
</ul>
<div ui-view></div>
