<div ui-view></div>
<div class="media panel-heading">
  <div class="media-body">
    <h4 class="media-heading" style="margin-top:5%;">标题：<input ng-model="undate.title" type="text" class="form-control" placeholder="Username" style="margin-top:5%;"></h4>
    <h4 class="media-heading" style="margin-top:5%;">内容：<form role="form"> 
          <div class="form-group" style="margin-top:5%;" > 
            <textarea class="form-control" rows="5" ng-model="undate.content"></textarea> 
          </div> 
        </form>
	</h4>
  </div>
</div>